src/main/mule/core-banking.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="core-banking-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="core-banking-config" api="resource::40d9ee14-ac0a-47cc-8e7c-9843454cd8d2:core-banking:1.0.0:raml:zip:core-banking.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="core-banking-main">
        <http:listener config-ref="core-banking-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="core-banking-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="core-banking-console">
        <http:listener config-ref="core-banking-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="core-banking-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:core-banking-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Account: [
      {
        AccountId: "22289",
        Status: "Enabled",
        StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Bills",
        OpeningDate: "01-05-2002",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203345",
            Name: "Mr Kevin",
            SecondaryIdentification: "00021"
          }
        ]
      }, 
      {
        AccountId: "31820",
        Status: "Enabled",
        StatusUpdateDateTime: "2018-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Household",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203348",
            Name: "Mr Kevin"
          }
        ]
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3b467e0e-e765-44b7-886b-f153eafd782e" message="GET All Account "/>
    </flow>
    <flow name="get:\accounts\balance:core-banking-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Balance: [
      {
        AccountId: "22289",
        Amount: {
          Amount: "1230.00",
          Currency: "GBP"
        },
        CreditDebitIndicator: "Credit",
        Type: "InterimAvailable",
        DateTime: "2017-04-05T10:43:07+00:00",
        CreditLine: [
          {
            Included: true,
            Amount: {
              Amount: "1000.00",
              Currency: "GBP"
            },
            Type: "Temporary"
          }
        ]
      }, 
      {
        AccountId: "31820",
        Amount: {
          Amount: "57.36",
          Currency: "GBP"
        },
        CreditDebitIndicator: "Debit",
        Type: "InterimBooked",
        DateTime: "2017-05-02T14:22:09+00:00"
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/balances/"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e81761d1-8339-4770-b54f-c7490207a090" message="Get Account Balance "/>
    </flow>
    <flow name="get:\accounts\transaction:core-banking-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Transaction: [
      {
        AccountId: "22289",
        TransactionId: "123",
        TransactionReference: "Ref 1",
        Amount: {
          Amount: "10.00",
          Currency: "GBP"
        },
        CreditDebitIndicator: "Credit",
        Status: "Booked",
        BookingDateTime: "2017-04-05T10:43:07+00:00",
        ValueDateTime: "2017-04-05T10:45:22+00:00",
        TransactionInformation: "Cash from Aubrey",
        BankTransactionCode: {
          Code: "ReceivedCreditTransfer",
          SubCode: "DomesticCreditTransfer"
        },
        ProprietaryBankTransactionCode: {
          Code: "Transfer",
          Issuer: "AlphaBank"
        },
        Balance: {
          Amount: {
            Amount: "230.00",
            Currency: "GBP"
          },
          CreditDebitIndicator: "Credit",
          Type: "InterimBooked"
        }
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/22289/transactions/"
  },
  Meta: {
    TotalPages: 1,
    FirstAvailableDateTime: "2017-05-03T00:00:00+00:00",
    LastAvailableDateTime: "2017-12-03T00:00:00+00:00"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="187244a3-d35f-4cd5-affe-320b063c070e" message="GET Account transaction"/>
    </flow>
    <flow name="get:\accounts\(accountID):core-banking-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="accountID">attributes.uriParams.'accountID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  AccountId: "22289",
  Status: "Enabled",
  StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
  Currency: "GBP",
  AccountType: "Personal",
  AccountSubType: "CurrentAccount",
  Nickname: "Bills",
  OpeningDate: "01-05-2002",
  Account: [
    {
      SchemeName: "UK.OBIE.SortCodeAccountNumber",
      Identification: "80200110203345",
      Name: "Mr Kevin",
      SecondaryIdentification: "00021"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="628de84d-f99e-4a37-8ef1-ef01ae46fb30" message="POST Account Endpoint invoked"/>
    </flow>
    <flow name="post:\accounts:application\json:core-banking-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account created successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-payload value='#[%dw 2.0
 output application/json
 ---
{
	"Message": "Account data inserted successful"
}]' doc:name="Set Payload" doc:id="8af26a9f-6e7a-4311-9590-8b9b40936875" />
		<logger level="INFO" doc:name="Logger" doc:id="30d322ab-d36f-4972-bade-b502e3a488ec" message="#[payload]"/>
    </flow>
</mule>
